**If you lost points on the last checkpoint you can get them back by responding to TA/IA feedback**  

Update/change the relevant sections where you lost those points, make sure you respond on GitHub Issues to your TA/IA to call their attention to the changes you made here.

Please update your Timeline... no battle plan survives contact with the enemy, so make sure we understand how your plans have changed.

# COGS 108 - EDA Checkpoint

## Names

- Peng Yuntong
- Richard Rangel
- Muhammad Omer
- Matthew Palmer
- Shijun Li

## Research Question

*"Using a weighted average model, (utilizing specifically, median income trends, and median sales trends), how does investor activity in San Diego’s housing market correlate with housing price movements at the zip code level, and do areas with higher investor activity (measured by an increase in purchases by known institutional investors) experience faster price appreciation than those with lower investor activity?"*

---

## Background and Prior Work

The San Diego housing market has undergone significant transformations in recent years, with investors playing an increasingly prominent role. Traditional economic indicators such as employment rates, interest rates, and median household income have historically been reliable predictors of housing market movements. However, the growing presence of investors has introduced new dynamics that may affect market behavior in ways not fully captured by conventional metrics.

Recent analysis by Redfin (2024) highlights the substantial impact of investor activity in San Diego's housing market. Their research indicates that in the second quarter of 2024, investors purchased 23.7% of homes sold in San Diego, positioning the city as the second-highest in the U.S. for investor home purchases, following Miami at 28.5%. This level of investor activity represents a significant portion of market transactions and potentially influences local market dynamics. The study provides crucial baseline data about investor purchase volumes but leaves open questions about the relationship between investor activity and price movements at the zip code level.[1]

The impact of investors on local housing markets extends beyond simple purchase statistics. As reported by CBS 8 San Diego (2024), local officials and real estate experts have expressed both concern and optimism about investor activity in the market. While increased investor presence may signal long-term market strength, it also raises concerns about competition with first-time homebuyers and potential market distortions. San Diego County Supervisor Terra Lawson-Remer has highlighted the important distinction between local "mom-and-pop" landlords and large institutional investors, noting that the latter may have different impacts on community stability and housing affordability.[2]

This research aims to build upon these findings by examining the specific relationship between investor activity and housing price movements at the zip code level, providing a more granular understanding of how different types of investor activity correlate with local market dynamics. By analyzing rates of change between investor purchase percentages and home purchase prices by zip code, we can better understand whether areas with higher investment activity experience accelerated price appreciation compared to areas with less investor presence.

References:

[1] Chen, S. (2024). "Investor Home Purchases Post Biggest Increase in Two Years." Redfin News. https://www.redfin.com/news/investor-home-purchases-q2-2024/

[2] Perez, E. (2024). "Study: San Diego is #2 in U.S. for homes bought by investors." CBS 8 San Diego. https://www.cbs8.com/article/news/local/san-diego-top-for-homes-bought-by-investors/509-759b8e51-fafb-41f7-aced-e89da57670d1

---

## Hypothesis

We predict that zip codes with higher investor activity (measured by the percentage of home purchases made by institutional investors) will experience faster home price appreciation than zip codes with lower investor activity. Additionally, we expect that this correlation will be stronger in lower-income areas, where investors may have a larger influence on housing supply and affordability.

---

## Data

### Data overview

- Dataset #1
  - Dataset Name: Redfin Investor Activity in San Diego
  - Link to the dataset: https://www.redfin.com/news/data-center/investor-data/   (Can download the data by selecting 'Download Data' column, select investor market share by zip code and choose San Diego CA in Redfin Metro)
  - Number of observations: 101
  - Number of variables: 5 
  This dataset contains zip code-level investor activity in the San Diego housing market. In this data table, "Zip Code" identifying the location, "Share of Sales" representing the proportion of total home sales attributed to investors, "Investor Purchases" showing the number of homes bought by investors, and "All Home Sales" showing the total number of homes sold in each zip code. These variables serve as representing for investor influence in the housing market. The dataset will require data type conversions(such as drop% and convert to float), and possibly calculate standardizing numerical values for analysis.
- Dataset #2 
  - Dataset Name: Zillow Home Value Index (Zillow ZHVI)
  - Link to the dataset: https://www.zillow.com/research/data/ (Can downoad the data from the 'Home Values' Section, default data type, geography by zip code)
  - Number of observations: 26323 
  - Number of variables: 357
  This dataset tracks monthly median home values at the zip code level from 1996 to 2024, providing a historical perspective on housing price trends. In this data table "RegionName" (zip code), "CountyName" (San Diego County), and a series of columns with typical home values over time (floats). The dataset serves as a representing for market appreciation and affordability trends. Preprocessing steps include filtering for San Diego zip codes, reshaping data from wide to long format if there are similar zip code, converting date columns, and handling missing or erroneous values.
- Dataset #3
  - Dataset Name: Stanford data(housing & income)
  - Link to the dataset: https://datacommons.stanford.edu/tools/download#pt=CensusZipCodeTabulationArea&place=geoId%2F06073&sv=Median_Income_Person__Count_HousingUnit__Count_HousingUnit_VacantHousingUnit&dtType=ALL&facets=%7B%7D (Click ‘Preview’ and then ‘Download’)
  - Number of observations: 1365
  - Number of variables: 11
  This dataset provides annual median income and housing unit counts by ZIP code in San Diego from 2011 to 2023. It includes the following key variables: "placeName"(zip code), "Date:Median_Income_Person" (Year), "Value:Median_Income_Person" (Median income per person), "Date:Count_HousingUnit" (Year), "Value:Count_HousingUnit" (Total housing units), "Value:Count_HousingUnit_VacantHousingUnit" (Vacant housing units). This dataset is useful for analyzing income trends and housing supply at the ZIP code level. Processing steps include dropping the unnecessary column such as "placeDcid", all the columns for the link of the sources, rename the column, and the repeated year columns.
- Combining the Datasets
  - To analyze the relationship between investor activity and price trends, the datasets will be merged on zip codes. The Redfin dataset provides investor activity, while the Zillow dataset tracks price trends over time. The Stanford dataset adds information about median income and housing supply, allowing for a deeper understanding of affordability and market trends. The combined dataset will allow us to examine whether zip codes with higher investor activity experience faster price appreciation. Additionally, by including income data, we can check how it posssibly affect homebuyers based on their income, using statistical correlation to check if there is a strong connection between investor activity and price changes. And regression models to measure how much investor activity actually affects home prices, while also considering other factors like overall market trends. 
  - Drawback: The redfin data by zipcode doesn't record the date(year, month, etc), but the website clarified the data were recorded from 2000, and according to the Investor Market Share by Metro, the latest date recorded is 2024 Q3. Our team will assume it represent investor activity from 2000 to 2024. We will match it with the Zillow's date after we filter it. Even though investor activity may have changed over time, this approach will still help us see whether areas with more investor purchases tend to have faster home price growth compared to other areas. Furthermore, the Stanford dataset records yearly median income and housing unit counts from 2011 to 2023. Although this introduces a slight misalignment with Zillow and Redfin, but its focus on the last decade (2011–2023) allows us to analyze more recent trends in investor activity and affordability.

## Redfin Investor Activity in San Diego

In [11]:
## YOUR CODE TO LOAD/CLEAN/TIDY/WRANGLE THE DATA GOES HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION 
import pandas as pd
import numpy as np
redfin = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vSE6CqRxuF2BT8dagvZcjvXvmMd0WfO5blJ60jIWcebwYdQZsELeAPxrKKiF3vTIVQ81-iIgDybYAeF/pub?gid=1006899554&single=true&output=csv')
redfin.shape
redfin

,Redfin Metro,Zip Code,Share of Sales,Investor Purchases,All Home Sales
0,"San Diego, CA",91901,15%,32,207
1,NaN,91902,18%,26,145
2,NaN,91905,13%,3,23
3,NaN,91906,5%,2,42
4,NaN,91910,18%,77,417
...,...,...,...,...,...
96,NaN,92170,100%,1,1
97,NaN,92171,14%,1,7
98,NaN,92173,15%,11,72
99,NaN,92178,100%,1,1
100,NaN,92315,100%,1,1

## Stanford data for income

In [19]:
import pandas as pd
import numpy as np
stanford = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vSOVx_YpUQjyXuAFJxTh-NJTtH0WGQle_JNzCcrZcrNsDJFYfBSyfD5BH_ye0_rCPUeuxjDLOoLEDhp/pub?gid=360141403&single=true&output=csv')
stanford.shape
stanford.head(5)

,placeDcid,placeName,Date:Count_HousingUnit,Value:Count_HousingUnit,Source:Count_HousingUnit,Date:Count_HousingUnit_VacantHousingUnit,Value:Count_HousingUnit_VacantHousingUnit,Source:Count_HousingUnit_VacantHousingUnit,Date:Median_Income_Person,Value:Median_Income_Person,Source:Median_Income_Person
0,zip/91901,91901,2011,6577,https://www.census.gov/programs-surveys/acs/da...,2011,621,https://www.census.gov/programs-surveys/acs/da...,2011.0,33941.0,https://www.census.gov/programs-surveys/acs/da...
1,zip/91901,91901,2012,6686,https://www.census.gov/programs-surveys/acs/da...,2012,525,https://www.census.gov/programs-surveys/acs/da...,2012.0,33927.0,https://www.census.gov/programs-surveys/acs/da...
2,zip/91901,91901,2013,6603,https://www.census.gov/programs-surveys/acs/da...,2013,402,https://www.census.gov/programs-surveys/acs/da...,2013.0,34297.0,https://www.census.gov/programs-surveys/acs/da...
3,zip/91901,91901,2014,6710,https://www.census.gov/programs-surveys/acs/da...,2014,314,https://www.census.gov/programs-surveys/acs/da...,2014.0,32443.0,https://www.census.gov/programs-surveys/acs/da...
4,zip/91901,91901,2015,6812,https://www.census.gov/programs-surveys/acs/da...,2015,301,https://www.census.gov/programs-surveys/acs/da...,2015.0,32495.0,https://www.census.gov/programs-surveys/acs/da...

In [20]:
# Drop unnecessary columns (e.g., source links and 'placeDcid' and the additional columns of year)
columns_to_drop = ["placeDcid", "Source:Count_HousingUnit", "Source:Count_HousingUnit_VacantHousingUnit", "Source:Median_Income_Person", 'Date:Count_HousingUnit_VacantHousingUnit', 'Date:Median_Income_Person']
stanford = stanford.drop(columns=columns_to_drop, errors="ignore")
# Rename the column
stanford.rename(columns={
    "placeName": "RegionName", 
    "Date:Count_HousingUnit": "Year",
    "Value:Count_HousingUnit": "Total_Housing_Units",
    "Value:Count_HousingUnit_VacantHousingUnit": "Vacant_Housing_Units",
    "Value:Median_Income_Person": "Median_Income"
}, inplace=True)

# Convert Year column to string for merging purposes
stanford["Year"] = stanford["Year"].astype(str)

stanford.head(5)

   RegionName  Year  Total_Housing_Units  Vacant_Housing_Units  Median_Income
0       91901  2011                 6577                   621        33941.0
1       91901  2012                 6686                   525        33927.0
2       91901  2013                 6603                   402        34297.0
3       91901  2014                 6710                   314        32443.0
4       91901  2015                 6812                   301        32495.0

In [21]:
# Pivot the Stanford dataset to make Year columns instead of rows
stanford = stanford.pivot(index="RegionName", columns="Year", values=["Total_Housing_Units", "Vacant_Housing_Units", "Median_Income"])

# Flatten the multi-index column names
stanford.columns = [f"{var}_{year}" for var, year in stanford.columns]

# Reset index to bring RegionName back as a column
stanford.reset_index(inplace=True)
#We found some zip code has the value 0 or Nan in it which we have to get rid off.
stanford = stanford.dropna()
stanford = stanford.loc[~(stanford.iloc[:, 1:] == 0).any(axis=1)]

stanford

,RegionName,Total_Housing_Units_2011,Total_Housing_Units_2012,Total_Housing_Units_2013,Total_Housing_Units_2014,Total_Housing_Units_2015,Total_Housing_Units_2016,Total_Housing_Units_2017,Total_Housing_Units_2018,Total_Housing_Units_2019,...,Median_Income_2014,Median_Income_2015,Median_Income_2016,Median_Income_2017,Median_Income_2018,Median_Income_2019,Median_Income_2020,Median_Income_2021,Median_Income_2022,Median_Income_2023
0,91901,6577.0,6686.0,6603.0,6710.0,6812.0,6776.0,6663.0,6680.0,6634.0,...,32443.0,32495.0,34008.0,36055.0,35641.0,38901.0,38418.0,43027.0,45421.0,51195.0
1,91902,6405.0,6409.0,6503.0,6575.0,6351.0,6402.0,6458.0,6718.0,6447.0,...,35214.0,35714.0,35588.0,36060.0,36391.0,39218.0,45714.0,47266.0,52027.0,54206.0
2,91905,658.0,691.0,651.0,829.0,836.0,866.0,825.0,768.0,804.0,...,30745.0,28750.0,21715.0,21480.0,23472.0,19147.0,19393.0,20000.0,23428.0,22319.0
3,91906,1485.0,1554.0,1602.0,1543.0,1393.0,1546.0,1479.0,1612.0,1578.0,...,30960.0,26198.0,25018.0,27077.0,28750.0,29178.0,29935.0,27240.0,30200.0,34342.0
4,91910,28700.0,28783.0,28807.0,28922.0,28518.0,28152.0,28254.0,28101.0,28165.0,...,25990.0,25185.0,26017.0,26926.0,29257.0,31295.0,32495.0,34684.0,39201.0,41586.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,92130,18206.0,18303.0,18616.0,18600.0,18872.0,19241.0,19819.0,20336.0,20892.0,...,71061.0,69844.0,72158.0,75352.0,74631.0,78465.0,81320.0,84057.0,91554.0,97547.0
94,92131,12133.0,12161.0,12012.0,11934.0,11820.0,11868.0,11838.0,11871.0,12077.0,...,61113.0,60794.0,58785.0,58494.0,61064.0,62948.0,60806.0,70492.0,82130.0,86278.0
98,92139,10838.0,10876.0,10856.0,10879.0,10999.0,11041.0,11165.0,11197.0,11236.0,...,26034.0,26405.0,25973.0,26599.0,28380.0,30283.0,30566.0,32203.0,34820.0,36923.0
102,92154,21287.0,21424.0,21470.0,21764.0,22257.0,22478.0,22817.0,23277.0,23534.0,...,21815.0,21891.0,22195.0,23942.0,25361.0,26319.0,28595.0,31848.0,34554.0,37318.0
104,92173,7868.0,7837.0,8000.0,8020.0,8206.0,8228.0,8223.0,8300.0,8266.0,...,15974.0,15801.0,16504.0,17633.0,18733.0,20775.0,23214.0,24974.0,25819.0,28341.0

## Zillow Home Value Index

In [15]:
import pandas as pd
file_path = "https://files.zillowstatic.com/research/public_csvs/zhvi/Zip_zhvi_uc_sfrcondo_tier_0.33_0.67_month.csv"
df = pd.read_csv(file_path)
df.head(5)

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,1996-02-29,...,2024-04-30,2024-05-31,2024-06-30,2024-07-31,2024-08-31,2024-09-30,2024-10-31,2024-11-30,2024-12-31,2025-01-31
0,91982,1,77494,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,189069.675621,...,503085.241778,506285.919207,508887.641602,509209.272066,509021.617712,506858.011184,504504.960864,502542.942418,500625.954934,499920.616045
1,61148,2,8701,zip,NJ,NJ,Lakewood,"New York-Newark-Jersey City, NY-NJ-PA",Ocean County,115689.214170,...,578825.002630,586318.586741,592080.575457,600132.504200,605585.727144,609047.447007,611814.344958,610957.310507,608713.570011,607251.073983
2,91940,3,77449,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Harris County,97154.287513,...,285503.178147,286710.978494,287359.922765,287424.193013,286732.814478,285271.691838,283215.560038,280862.224440,279637.225534,278798.163818
3,62080,4,11368,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,116432.193486,...,456619.770572,455821.510337,453400.333742,456464.369137,455194.002210,456557.919209,457067.204777,453244.716681,450389.052349,447832.453255
4,91733,5,77084,zip,TX,TX,Houston,"Houston-The Woodlands-Sugar Land, TX",Harris County,96430.295969,...,278419.208182,279546.539007,280209.666812,280450.625257,279197.314805,277782.680438,275862.477385,273807.712387,272987.813116,272091.303101

In [16]:
# Filter for San Diego city and in California only
zillow = df[(df["City"] == "San Diego") & (df["StateName"] == "CA")]
# Keep only columns for 2011 to 2023
date_columns = [col for col in zillow.columns if col.startswith(("2011", "2023"))]
columns_to_keep = ["RegionID", "RegionName", "StateName", "City", "CountyName"] + date_columns
zillow = zillow[columns_to_keep]
zillow = zillow.reset_index(drop=True)

zillow.head(5)

,RegionID,RegionName,StateName,City,CountyName,2011-01-31,2011-02-28,2011-03-31,2011-04-30,2011-05-31,...,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31
0,96690,92154,CA,San Diego,San Diego County,238133.489972,236989.860404,236204.258611,236390.310941,237275.177048,...,668926.373228,679539.275685,690319.209349,703286.821960,714599.214966,722552.827164,727994.142962,731634.626976,731348.912901,729869.776770
1,96667,92126,CA,San Diego,San Diego County,336588.235641,334871.861171,333432.914907,335449.113699,335402.517912,...,870587.891957,885696.895274,903000.113218,921204.296957,937787.480521,950891.988588,960567.885049,963472.743403,962892.410378,966332.707376
2,96647,92105,CA,San Diego,San Diego County,198444.754600,197605.299039,196240.104692,196081.011472,196178.682467,...,613301.357779,624599.979729,633194.094991,644533.921821,652590.469703,659483.425564,663961.613732,663578.585552,661309.629220,660305.632768
3,96656,92114,CA,San Diego,San Diego County,215098.477786,215254.858131,215648.509342,216415.223386,216411.905065,...,642920.473665,651930.223339,662694.380013,675584.947254,686464.312256,693977.921058,699035.815800,701657.110265,701909.575450,702003.837044
4,96657,92115,CA,San Diego,San Diego County,296971.468150,295104.339363,295379.445380,297426.003819,297244.835430,...,758263.749399,771914.103952,784696.620771,799100.279038,811020.564706,818645.468387,827963.206766,828849.027596,826559.771510,824993.601731

In [ ]:
redfin["Zip Code"] = redfin["Zip Code"].astype(str)
zillow["RegionName"] = zillow["RegionName"].astype(str)

# Merge on ZIP code (inner join to keep only matching ZIPs)
merged_df = pd.merge(zillow, redfin, left_on="RegionName", right_on="Zip Code", how="inner")

# Drop duplicate ZIP column
merged_df = merged_df.drop(columns=["Zip Code"])

# Drop unnecessary columns
merged_df = merged_df.drop(columns=["Redfin Metro", "CountyName"], errors="ignore")

#Change column order
columns_order = ["RegionID", "RegionName", "StateName", "City", "Share of Sales", "Investor Purchases", "All Home Sales"]
remaining_columns = [col for col in merged_df.columns if col not in columns_order]
merged_df = merged_df[columns_order + remaining_columns]

#Time to merge Stanford Data
# Ensure ZIP codes (RegionName) are in string format for consistent merging
merged_df["RegionName"] = merged_df["RegionName"].astype(str)
stanford["RegionName"] = stanford["RegionName"].astype(str)

# Merge the Stanford dataset with the existing Zillow & Redfin dataset
merged_df = pd.merge(merged_df, stanford, on="RegionName", how="inner")

merged_df.head(10)

,RegionID,RegionName,StateName,City,Share of Sales,Investor Purchases,All Home Sales,2011-01-31,2011-02-28,2011-03-31,...,Median_Income_2014,Median_Income_2015,Median_Income_2016,Median_Income_2017,Median_Income_2018,Median_Income_2019,Median_Income_2020,Median_Income_2021,Median_Income_2022,Median_Income_2023
0,96690,92154,CA,San Diego,12%,60,485,238133.489972,236989.860404,236204.258611,...,21815.0,21891.0,22195.0,23942.0,25361.0,26319.0,28595.0,31848.0,34554.0,37318.0
1,96667,92126,CA,San Diego,16%,77,494,336588.235641,334871.861171,333432.914907,...,32001.0,31696.0,31910.0,32972.0,35545.0,35394.0,36387.0,41818.0,46375.0,49938.0
2,96647,92105,CA,San Diego,16%,57,349,198444.754600,197605.299039,196240.104692,...,19840.0,19967.0,20220.0,20398.0,20856.0,20721.0,22825.0,24121.0,27100.0,29774.0
3,96656,92114,CA,San Diego,20%,102,504,215098.477786,215254.858131,215648.509342,...,23923.0,23563.0,24320.0,24971.0,25782.0,26753.0,29778.0,31616.0,33663.0,36376.0
4,96657,92115,CA,San Diego,27%,143,537,296971.468150,295104.339363,295379.445380,...,19960.0,19824.0,20092.0,20531.0,21151.0,22161.0,25113.0,26943.0,31971.0,34489.0
5,96671,92130,CA,San Diego,21%,99,477,713693.545129,710545.964976,711538.551123,...,71061.0,69844.0,72158.0,75352.0,74631.0,78465.0,81320.0,84057.0,91554.0,97547.0
6,96670,92129,CA,San Diego,13%,52,401,501038.340614,498153.066818,496233.895582,...,44662.0,45412.0,46705.0,50027.0,50127.0,52134.0,52145.0,56011.0,63589.0,67577.0
7,96659,92117,CA,San Diego,26%,141,545,406321.455375,402881.295038,400511.119372,...,31798.0,32198.0,32076.0,34471.0,36287.0,39638.0,41319.0,46015.0,48124.0,53282.0
8,96655,92113,CA,San Diego,26%,54,205,172331.836070,172844.099557,173550.155424,...,19013.0,19271.0,19313.0,19496.0,20280.0,21514.0,22268.0,22320.0,26249.0,27476.0
9,96653,92111,CA,San Diego,21%,80,389,326216.686524,323956.339754,321722.680475,...,26938.0,27840.0,28128.0,29292.0,30681.0,31669.0,32148.0,34857.0,37500.0,40396.0

In [18]:
# Define Zip Code Column & San Diego Zip Codes
zip_column = "RegionName"

san_diego_zip_codes = [
    92101, 92102, 92103, 92104, 92105, 92106, 92107, 92108, 92109, 92110, 92111, 92113, 92114, 
    92115, 92116, 92117, 92119, 92120, 92121, 92122, 92123, 92124, 92126, 92127, 92128, 92129, 
    92130, 92131, 92139, 92140, 92145, 92154, 92173
]


# Convert Zip Codes to String & Filter for San Diego Zip Codes
df[zip_column] = df[zip_column].astype(str)
df = df[df[zip_column].isin(map(str, san_diego_zip_codes))]

# Set Zip Codes as Index
df.set_index(zip_column, inplace=True)
# Clean Column Names (Remove Extra Spaces)
df.columns = df.columns.astype(str).str.strip()
# Identify columns that represent date values
date_columns = [col for col in df.columns if col[:4].isdigit()]
#Filter Data for 2000 to 2024
df_filtered = df[[col for col in date_columns if "2011-01" <= col <= "2023-12"]]
# Convert home values to numeric format
df_filtered = df_filtered.apply(pd.to_numeric, errors='coerce')
# Reshape from wide to long format
df_long = df_filtered.reset_index().melt(id_vars=[zip_column], var_name="Month", value_name="Home_Value")
# Convert Month column to datetime format
df_long["Month"] = pd.to_datetime(df_long["Month"])
# Filter data strictly from 2000 to 2024
df_long = df_long[(df_long["Month"] >= "2011-01-01") & (df_long["Month"] <= "2023-12-31")]
# Sort data by Month & Zip Code
df_long = df_long.sort_values(by=["Month", "RegionName"])
# Group by year and zip code to calculate yearly average home values
df_grouped = df_long.copy()
df_grouped["Year"] = df_grouped["Month"].dt.year  # Extract year
df_grouped = df_grouped.groupby(["Year", "RegionName"])["Home_Value"].mean().reset_index()

print("\n--- Average Home Values by Zip Code & From 2011 to 2023 ---")
print(df_grouped.head(10))

--- Average Home Values by Zip Code & From 2011 to 2023 ---
   Year RegionName     Home_Value
0  2011      92101  393264.372641
1  2011      92102  255224.332202
2  2011      92103  512961.205459
3  2011      92104  371158.225100
4  2011      92105  193898.543230
5  2011      92106  674362.657369
6  2011      92107  583091.971749
7  2011      92108  235665.966400
8  2011      92109  571701.792211
9  2011      92110  349612.236934

## Results

## Exploratory Data Analysis

Carry out whatever EDA you need to for your project.  Because every project will be different we can't really give you much of a template at this point. But please make sure you describe the what and why in text here as well as providing interpretation of results and context.

### Section 1 of EDA - please give it a better title than this

Some more words and stuff.  Remember notebooks work best if you interleave the code that generates a result with properly annotate figures and text that puts these results into context.

In [ ]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION

### Section 2 of EDA if you need it  - please give it a better title than this

Some more words and stuff.  Remember notebooks work best if you interleave the code that generates a result with properly annotate figures and text that puts these results into context.

In [ ]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION

## Ethics & Privacy

- **Data Privacy & Restriction** 

    Data privacy concerns exist regarding property transaction records and demographic information. While most of this data is publicly available, we must ensure our analysis doesn't inadvertently reveal personally identifiable information about individual property owners or tenants. We will aggregate data at the zip code level to maintain privacy. And for those datasets without zip code, we would assign them based on the region or new index to avoid use of any personal information. Besides that, most public datasets have their own restriction policy. For example, Zillow’s market data is available for public viewing but cannot be scraped, stored, or republished without permission. Therefore, ensuring data sets that been used are authorized is another priority.

- **Bias in Data Collection & Representation**  

    Our dataset may contain biases that need to be identified and addressed. Certain areas or groups may be underrepresented due to limitations in data collection, institutional investor activity, or other factors. To detect underreporting, we will analyze patterns within the dataset and use proxy variables where appropriate, ensuring they are validated against external benchmarks. Additionally, we will assess whether ZIP code-level aggregation introduces any biases and adjust our methodology if needed. 

- **Detection and Mitigation of Bias** 

   As part of the Exploratory Data Analysis (EDA), we will evaluate demographic distributions and identify patterns of missing data. If the proportion of a demographic group in our dataset deviates by more than 5 percentage points from Census data, we will compare these distributions to assess potential biases. If significant discrepancies are found, we will document these limitations and discuss their possible impact on our findings rather than making adjustments that could introduce additional biases.

- **Post-Analysis Considerations** 
    
    The findings of this research could have implications for housing policy and community development. We must be transparent about our methodology and careful not to draw causative conclusions where only correlative relationships exist. 

    To address this concern and account for potential confounding variables while avoiding overgeneralization, we aim to explore robustness checks by considering additional socioeconomic factors (e.g., median income, employment rates, interest rates) where data allows. While our research explores vulnerabilities in the housing market, we also plan to contextualize results at a systemic level rather than isolating specific neighborhoods to ensure responsible analysis. We also acknowledge potential limitations, such as data gaps and the predetermined classification of investor activity in our dataset, which may impact how nuanced our findings can be. These limitations will be discussed in our final analysis.

- **Impact on the Market & Community** 

    As mentioned above, since we have to keep our research transparent, we are aware that revealing areas with high investor activity can unintentionally provide insights for all kinds of market participants, which can further exacerbate affordability problems. If investors significantly raise affordability, this could lead to more displacement in lower-income neighborhoods. In order to minimize such a problem, we would hope to share findings with all stakeholders including members of the community with a vested interest in housing equity.


---

## Team Expectations

- Group Chat is our main form of communication, Discord as data sharing
- Polite and blunt communication.
- For decision making, we decided on majority agreement, if someone passed the response time, the majority available will make the decision.
- People volunteer for tasks as they become known during meetings, credit will be given accordingly.
- Future deadline will be discussed during meetings.
- Zoom meetings every Sunday, in person every other week.
- If someone is struggling it is preferred they mention it at least 3 days before deadline, so that others can help them.

---

## Project Timeline Proposal

| Meeting Date | Meeting Time | Completed Before Meeting | Discuss at Meeting |
|-------------|-------------|------------------------|--------------------|
| 1/20  |  1 PM | Read & Think about COGS 108 expectations; brainstorm topics/questions  | Determine best form of communication; Discuss and decide on final project topic; discuss hypothesis; begin background research | 
| 1/26  |  10 AM |  Do background research on topic | Discuss ideal datasets and ethics; draft project proposal | 
| 2/1 | 11:30 AM | Zoom meeting, ice breaker. Previous Project Review. | Briefly discussed our project’s topic. Collaborated on reviewing the previous projects |
| 2/5 | 3 PM | Read & Think about COGS 108 expectations; brainstorm topics/questions | Further discussed our project idea. Making adjustments, making group policies. |
| 2/8 | 1 PM | Shijun Li came up with some great project topic ideas and hypotheses, however, we need further discussion | Came up with new project ideas. |
| 2/9 | 3:50 PM | For our project proposal Richard decided to do the Background, Hypothesis, and ethical problems. Peng decided to edit and work further on ethics & privacy problems and the time line proposal. | More details about who is working on each section of the project proposal. |
| 2/9 | 7 PM | Phone call and group chat discussion, talked more about the Project Proposal on github, and the future workload prediction/distribution | Discuss/edit Analysis; Complete the the final proposal|
| 2/14  | 6 PM  | Import & Wrangle Data; EDA | Review/Edit wrangling/EDA; Discuss Analysis Plan   |
| 2/23  | 12 PM  | Finalize wrangling/EDA; Begin Analysis | Discuss/edit Analysis; Complete project check-in |
| 2/23-28 | TBD | Look over the next checkpoint format | Discuss next checkpoint and project direction, assign tasks and set expectations for task quality, determine if further research is needed to better understand research topic |
| 3/6 | TBD | Nearly complete or complete assigned tasks, reach out to each other about difficult tasks | Check in to verify progress, begin the final sprint on difficult or frusterating tasks, verify that everyone who has not reached out has confidence in completing their tasks |
| 3/8 | TBD | Have everything completed or easily completable with the day | Begin working on anything that is not finished, reguardless of who was assigned tasks, take note of what did or did not work to revise going forward |
| 3/9 | 11:59 PM | Checkpoint #2: EDA*| complete project check-in|
| 3/13  | 12 PM  | Complete analysis; Draft results/conclusion/discussion| Discuss/edit full project |
| 3/16 | TBD | Bring all required work to completion or near completion | Checkup to determine what still needs to be completed and if the people assigned to it have confidence in completing it alone |
| 3/18 | TBD | Complete all possible tasks, review to ensure all added work is cohesive | Finish work on anything that still needs completion, reguardless of who task was assigned to. Perform a final review on project to ensure quality |
| 3/19 | 11:59 PM | Final report & video*, Team eval survey, post-course survey||
| 3/20  | Before 11:59 PM  | NA | Turn in Final Project & Group Project Surveys |